<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring i Thymeleaf: lista pracowników</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
        
        <style>
            img.empPhoto {
                width: 300px;
            }
            .fired {
                color: firebrick;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid" th:inline="text">
            <h1>Pan Prezes</h1>
            <p>
                <b>
                    <span th:text='${boss.firstName}'>Imię</span>
                    <span th:text='${boss.lastName}'>Nazwisko</span>
                </b>
            </p>
            <img th:src="${boss.photoUrl}" class="empPhoto" 
                 src="http://via.placeholder.com/250x250"/>

            <h1>Pracownicy firmy</h1>

            <table class="table table-striped">
                <tr>
                    <th>Lp</th>
                    <th>Imię i nazwisko</th>
                    <th>Stanowisko</th>
                    <th>Pensja</th>
                    <th>Data zatrudnienia</th>
                    <th>Data zwolnienia</th>
                    <th>Umiejętności</th>
                    <th>Uwagi</th>
                    <th>Zdjęcie</th>
                </tr>
                <tr th:each="employee,iterStat  : ${employees}" th:classappend="${employee.dateOfTermination} ? fired : ''">
                    <td><span th:text='${iterStat.count}'></span></td>
                    <td><span th:text='|${employee.firstName} ${employee.lastName}|'></span></td>
                    <td><span th:text='${employee.jobTitle}'></span></td>
                    <td><span th:text="${#numbers.formatDecimal(employee.salary, 0, 'WHITESPACE', 2, 'POINT')}">10.00</span></td>
                    <td th:text="${#dates.format(employee.dateOfEmployment, 'dd.MM.yyyy')}"></td>
                    <td>
                        <span th:text="${employee.dateOfTermination} ? ${#dates.format(employee.dateOfTermination, 'dd.MM.yyyy')} : 'Wciąż pracuje'"></span>
                    </td>
                    <td>
                        <p th:each="skill,iterStat  : ${employee.skills}">
                            <span th:text='${skill.name}'></span> (<span th:text='${skill.level}'></span>)<span th:text="${iterStat.last} ? '' : ','"></span>
                        </p>
                    </td>
                    <td>
                        <p th:each="comment,iterStat  : ${employee.comments}">
                            <span th:text='${comment}'></span> <span th:text="${iterStat.last} ? '' : ','"></span>
                        </p>
                    </td>
                    <td><img th:classappend="empPhoto" th:src='${employee.photoUrl}'/></td>
                </tr>
            </table>
        </div>
    </body>
</html>